@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.2vmin;
}

.메인-컨테이너 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 54, 54);
  flex-direction: column;
}

.로고-제목 {
  font-family: "Yeongdo-Rg";
  font-size: 13vmin;
  color: rgb(255, 255, 255);
  user-select: none;
}

.본문-컨테이너 {
  height: 40vmin;
  width: 100vmin;
  border: solid 0.8vmin #ddd;
  border-radius: 1vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.점수판 {
  position: absolute;
  transform: translateY(-17vmin);
  width: 70vmin;
  height: 4vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.점수 {
  width: 25vmin;
  height: 5.5vmin;
  border: 0.8vmin solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.진행도 {
  color: aliceblue;
  border-bottom-left-radius: 2vmin;
}

.성공 {
  color: rgb(218, 255, 162);
}

.성공-tr {
  background-color: rgb(218, 255, 162);
  color: aliceblue;
  transition: ease-in-out 0.3s;
}

.실패 {
  color: rgb(255, 158, 158);
  border-bottom-right-radius: 2vmin;
}

.실패-tr {
  background-color: rgb(255, 158, 158);
  color: aliceblue;
  transition: ease-in-out 0.3s;
}

.다음예제-컨테이너 {
  width: 75vmin;
}

.타이핑-예제 {
  font-family: "LeeSeoyun";
  width: 75vmin;
  padding-left: 0.3vmin;
  color: aliceblue;
  user-select: none;
}

.타이핑-답안 {
  font-family: "LeeSeoyun";
  width: 75vmin;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  border-bottom: solid 5px rgb(36, 36, 36);
  outline: none;
  color: rgb(155, 155, 155);
}

.타이핑-다음예제,
.다음 {
  color: rgb(77, 77, 77);
}

.타이핑-다음예제 {
  font-family: "LeeSeoyun";
  user-select: none;
}

.다음 {
  font-weight: 700;
  font-size: 2.7vmin;
}

.크레딧 {
  position: absolute;
  top: 96vh;
  color: rgba(240, 248, 255, 0.349);
  font-size: 1vmin;
}

.오타 {
  color: rgb(241, 101, 101);
}

#exampleModalLabel {
  font-family: "Yeongdo-Rg";
}

.문제개수-컨테이너 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 22vmin;
  height: 5vmin;
  border-start-end-radius: 2vmin;
  border-top-left-radius: 2vmin;
  transform: translateY(17.5vmin);
  border: 0.8vmin solid #ddd;
  color: aliceblue;
  text-align: center;
}

.이전버튼,
.다음버튼 {
  cursor: pointer;
  font-weight: bolder;
  transition: ease-in-out 0.2s;
  border-radius: 1vmin;
  font-size: 3vmin;
}

.이전버튼:hover,
.다음버튼:hover {
  background-color: aliceblue;
  color: black;
}

.help-btn {
  position: absolute;
  right: 2vmin;
  bottom: 2vmin;
  background-color: rgba(0, 0, 0, 0.418);
  border: none;
  border-radius: 6vmin;
  height: 5vmin;
  width: 5vmin;
  padding: 0;
}

.help-btn:hover {
  background-color: aliceblue;
  color: black;
}

.dark-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 6vw;
  bottom: 0.5vh;
  height: 60px;
}

.dark-btn {
  font-size: 1.4rem;
  transform: translateX(0.4vw);
  filter: brightness(80%);
}

.dark-text {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: rgba(240, 248, 255, 0.349);
}

.modal-title {
  width: 100vmin;
  font-size: 4vmin;
  font-weight: bolder;
}

.esc-img {
  height: 5vmin;
}

.result-modal {
  font-size: 1.3rem;
  text-align: center;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    html {
      font-size: 1.3rem;
    }
  }
}
